Repository cauliyang/DeepBioP: changes, and which pre-commit hooks are due for each by the changed paths.
All: interrogate, clippy

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        stages: [pre-commit]
        exclude: "mkdocs.yml"
      - id: check-json
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: check-case-conflict
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: check-added-large-files
        args: ["--maxkb=150000"]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.11.0"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --unsafe-fixes]
      - id: ruff-format

    # python docstring coverage checking
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate
        entry: interrogate
        language: system
        types: ["python"]
        args:
          [
            --verbose,
            --fail-under=80,
            --ignore-init-module,
            --ignore-init-method,
            --ignore-module,
            --ignore-nested-functions,
            -vv,
          ]

  # shell scripts linter
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.1.0
    hooks:
      - id: cargo-sort

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --bins --tests --examples --all -- -Dclippy::all
        pass_filenames: false

🐛 fix: run pytest from project root to use installed package
  .github/workflows/release-python.yml
Due: none

🐛 fix: temporarily move source directory during tests
  .github/workflows/release-python.yml
Due: none

🐛 fix: skip macOS x86_64 tests on ARM64 runner
  .github/workflows/release-python.yml
Due: none

🐛 fix: use macos-13 runner for x86_64 builds
  .github/workflows/release-python.yml
Due: none

fix(ci): replace Unicode characters with ASCII in Windows tests
  .github/workflows/release-python.yml
  py-deepbiop/tests/test_pytorch_performance.py
Due: interrogate

🐛 fix: install pre-built wheel instead of rebuilding from source in CI
  .github/workflows/release-python.yml
Due: none

🐛 fix: ensure all dependencies are installed in CI before pytest
  .github/workflows/release-python.yml
Due: none

🐛 fix: disable musllinux builds to resolve cargo metadata error
  .github/workflows/release-python.yml
Due: none

dev: add uv.lock
  .gitignore
  py-deepbiop/uv.lock
Due: none

🔧 feat: migrate CI to use uv for Python package management
  .github/workflows/release-python.yml
Due: none

🐛 fix: avoid uv run triggering package rebuild in CI tests
  .github/workflows/release-python.yml
Due: none

📋 docs(plan): complete implementation planning for PyTorch-style Python API
  specs/002-pytorch-api/contracts/api-contracts.md
  specs/002-pytorch-api/data-model.md
  specs/002-pytorch-api/plan.md
  specs/002-pytorch-api/quickstart.md
  specs/002-pytorch-api/research.md
Due: none

🧹 refactor: fix Rust warnings in PyTorch API implementation
  py-deepbiop/src/pytorch/cache.rs
  py-deepbiop/src/pytorch/collate.rs
  py-deepbiop/src/pytorch/dataset.rs
  py-deepbiop/src/pytorch/errors.rs
  py-deepbiop/src/pytorch/types.rs
Due: clippy

🐛 fix: skip GTF tests on Windows due to illegal instruction error
  py-deepbiop/tests/test_gtf.py
Due: interrogate

🐛 fix: revert to pip and skip VCF tests on Windows
  .github/workflows/release-python.yml
  py-deepbiop/tests/test_vcf.py
Due: interrogate

📝 spec: PyTorch-Style Python API for Deep Learning
  specs/002-pytorch-api/checklists/requirements.md
  specs/002-pytorch-api/spec.md
Due: none

🐛 fix: upgrade pip and disable cache for wheel installation
  .github/workflows/release-python.yml
Due: none

dev: make pre-commit happy
  py-deepbiop/tests/test_gtf.py
Due: interrogate

🐛 fix: install numpy separately and use --no-deps for wheel
  .github/workflows/release-python.yml
Due: none

✨ feat: add PyTorch-style Python API for deep learning workflows
  .pre-commit-config.yaml
  README.md
  crates/deepbiop-fq/src/dataset.rs
  examples/transformers_integration.py
  py-deepbiop/CHANGELOG.md
  py-deepbiop/Cargo.toml
  py-deepbiop/examples/pytorch_quickstart.py
  py-deepbiop/src/lib.rs
  py-deepbiop/src/pytorch/cache.rs
  py-deepbiop/src/pytorch/collate.rs
  py-deepbiop/src/pytorch/dataloader.rs
  py-deepbiop/src/pytorch/dataset.rs
  py-deepbiop/src/pytorch/errors.rs
  py-deepbiop/src/pytorch/mod.rs
  py-deepbiop/src/pytorch/transforms.rs
  py-deepbiop/src/pytorch/types.rs
  py-deepbiop/tests/test_pytorch_api.py
  py-deepbiop/tests/test_pytorch_performance.py
  specs/002-pytorch-api/plan.md
  specs/002-pytorch-api/tasks.md
Due: interrogate, clippy

🐛 fix: remove armv7 builds to resolve CI cross-compilation error
  .github/workflows/release-python.yml
Due: none

📝 docs(spec): complete clarification phase with 5 anti-duplication decisions
  specs/002-pytorch-api/spec.md
Due: none

🐛 fix: remove --no-deps flag to allow proper wheel installation
  .github/workflows/release-python.yml
Due: none

📋 docs(tasks): generate implementation tasks for PyTorch-style Python API
  specs/002-pytorch-api/tasks.md
Due: none

🐛 fix: update macOS CI runner from macos-13 to macos-14
  .github/workflows/release-python.yml
Due: none

🐛 fix: restore --no-deps and remove --no-index for wheel installation
  .github/workflows/release-python.yml
Due: none

docs: add comprehensive API documentation and PyTorch stubs
  docs/user-guide/python-api.md
  docs/user-guide/rust-api.md
  py-deepbiop/deepbiop/pytorch.pyi
Due: none

refactor: address PR review comments for code quality and safety
  .github/workflows/release-python.yml
  crates/deepbiop-cli/src/cli/encode.rs
  crates/deepbiop-core/src/error.rs
  crates/deepbiop-core/src/kmer/encode.rs
  crates/deepbiop-core/src/seq.rs
  crates/deepbiop-core/src/types/encoding.rs
  crates/deepbiop-fq/src/augment/mutator.rs
  crates/deepbiop-fq/src/augment/python.rs
  crates/deepbiop-fq/src/encode/onehot.rs
  py-deepbiop/deepbiop/pytorch.pyi
  py-deepbiop/pyproject.toml
  py-deepbiop/src/pytorch/collate.rs
  py-deepbiop/src/pytorch/transforms.rs
  py-deepbiop/tests/test_pytorch_performance.py
  py-deepbiop/tests/test_vcf.py
Due: interrogate, clippy

dev: format by cargo fmt
  crates/deepbiop-cli/src/cli/countfx.rs
  crates/deepbiop-cli/src/main.rs
Due: clippy

🐛 fix: make PyO3 optional and fix Python bindings for all crates
  crates/deepbiop-bam/Cargo.toml
  crates/deepbiop-bam/src/chimeric/event.rs
  crates/deepbiop-cli/src/main.rs
  crates/deepbiop-core/Cargo.toml
  crates/deepbiop-core/src/error.rs
  crates/deepbiop-core/src/seq.rs
  crates/deepbiop-fa/Cargo.toml
  crates/deepbiop-fa/src/encode/option.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fq/Cargo.toml
  crates/deepbiop-fq/src/augment/mutator.rs
  crates/deepbiop-fq/src/augment/python.rs
  crates/deepbiop-fq/src/dataset.rs
  crates/deepbiop-fq/src/encode/option.rs
  crates/deepbiop-fq/src/encode/parquet.rs
  crates/deepbiop-fq/src/error.rs
  crates/deepbiop-fq/src/filter/python.rs
  crates/deepbiop-fq/src/predicts.rs
  crates/deepbiop-fq/src/utils.rs
  crates/deepbiop-utils/Cargo.toml
  crates/deepbiop-utils/src/blat.rs
  crates/deepbiop-utils/src/interval/genomics.rs
  crates/deepbiop-utils/src/io.rs
  crates/deepbiop-utils/src/lib.rs
  crates/deepbiop-utils/src/python.rs
Due: clippy

🐛 fix(ci): exclude py-deepbiop from cargo test in CI
  .github/workflows/test.yml
Due: none

🐛 fix: disable stub_gen binary due to extension-module linking issues
  py-deepbiop/Cargo.toml
  py-deepbiop/src/bin/stub_gen.rs.disabled
Due: none

docs: document stub generation limitation with extension-module
  py-deepbiop/Makefile
  py-deepbiop/STUB_GENERATION.md
Due: none

feat: add stub_gen binary for automatic stub generation
  py-deepbiop/src/bin/stub_gen.rs
Due: clippy
