Repository cauliyang/DeepBioP: changes, and which pre-commit hooks are due for each by the changed paths.
All: interrogate, clippy

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        stages: [pre-commit]
        exclude: "mkdocs.yml"
      - id: check-json
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: check-case-conflict
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: check-added-large-files
        args: ["--maxkb=150000"]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.11.0"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --unsafe-fixes]
      - id: ruff-format

    # python docstring coverage checking
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate
        entry: interrogate
        language: system
        types: ["python"]
        args:
          [
            --verbose,
            --fail-under=80,
            --ignore-init-module,
            --ignore-init-method,
            --ignore-module,
            --ignore-nested-functions,
            -vv,
          ]

  # shell scripts linter
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.1.0
    hooks:
      - id: cargo-sort

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --bins --tests --examples --all -- -Dclippy::all
        pass_filenames: false

✅ test: enable all ignored tests and remove placeholder test files
  crates/deepbiop-bam/src/dataset.rs
  crates/deepbiop-fa/src/dataset.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fq/src/encode/parquet.rs
  crates/deepbiop-fq/tests/test_compression.rs
  crates/deepbiop-fq/tests/test_dataset.rs
Due: clippy

feat(ci): implement comprehensive Python testing workflow
  .github/workflows/release-python.yml
  .github/workflows/test-python.yml
  .github/workflows/test-rust.yml
  py-deepbiop/pyproject.toml
Due: none

🔧 chore: improve Python CI workflow and add pytest-cov dependency
  .github/workflows/test-python.yml
  py-deepbiop/pyproject.toml
  py-deepbiop/uv.lock
Due: none

🔧 chore: update pre-commit config and remove Rust hooks
  .pre-commit-config.yaml
Due: none

🔧 chore: clean up GitHub Actions workflow triggers
  .github/workflows/release-python.yml
  .github/workflows/test-python.yml
  .github/workflows/test-rust.yml
Due: none

dev: fix ci-error cased by cache version
  .github/workflows/test-python.yml
Due: none

dev: fix ci-error by reducing cpu count
  py-deepbiop/tests/test_pytorch.py
Due: interrogate

🐛 fix(tests): fix Windows CI failure in GIL release test
  py-deepbiop/tests/test_pytorch_performance.py
Due: interrogate

📝 docs(stubs): update Python type stubs for complete API coverage
  py-deepbiop/deepbiop/__init__.pyi
  py-deepbiop/deepbiop/lightning.pyi
  py-deepbiop/deepbiop/transforms.pyi
Due: none

🎨 style: apply ruff formatting to type stubs and pre-commit config
  .pre-commit-config.yaml
  py-deepbiop/deepbiop/__init__.pyi
  py-deepbiop/deepbiop/lightning.pyi
  py-deepbiop/deepbiop/transforms.pyi
Due: none

dev: reduce coverage limit
  py-deepbiop/pyproject.toml
Due: none

test: increase test.fastq size and fix Windows timer issues
  py-deepbiop/tests/data/test.fastq
  py-deepbiop/tests/test_pytorch_performance.py
Due: interrogate

fix(tests): update test expectations for larger test.fastq dataset
  py-deepbiop/tests/test_fq.py
  py-deepbiop/tests/test_pytorch_api.py
  py-deepbiop/tests/test_pytorch_performance.py
Due: interrogate

⚡️ perf(tests): increase summary performance test timeout to 120s
  py-deepbiop/tests/test_pytorch_performance.py
Due: interrogate

⚡️ perf(tests): increase summary performance test timeout to 150s
  py-deepbiop/tests/test_pytorch_performance.py
Due: interrogate

dev: remove dup code
  crates/deepbiop-bam/src/chimeric/count.rs
  crates/deepbiop-bam/src/chimeric/event.rs
  crates/deepbiop-bam/src/dataset.rs
  crates/deepbiop-bam/src/io.rs
  crates/deepbiop-bam/src/reader/mod.rs
  crates/deepbiop-cli/src/cli/extractfx.rs
  crates/deepbiop-core/src/encoder.rs
  crates/deepbiop-core/src/kmer/encode.rs
  crates/deepbiop-core/src/lib.rs
  crates/deepbiop-fa/src/encode/onehot.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/encode/integer.rs
  crates/deepbiop-fq/src/encode/onehot.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-utils/Cargo.toml
  crates/deepbiop-utils/src/io.rs
  crates/deepbiop-utils/src/lib.rs
  crates/deepbiop-utils/src/parallel.rs
  crates/deepbiop-utils/src/sampling.rs
Due: clippy

dev: add ignores
  .gitignore
Due: none

✨ feat(python): add supervised learning API with target extraction
  .gitignore
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/collate.py
  py-deepbiop/deepbiop/lightning.py
  py-deepbiop/deepbiop/targets.py
  py-deepbiop/deepbiop/transforms.py
  py-deepbiop/examples/SUPERVISED_LEARNING.md
  py-deepbiop/examples/supervised_learning.py
  py-deepbiop/tests/test_supervised_learning.py
Due: interrogate

feat: complete Phase 5 (large-scale batch processing) and Phase 6 (Lightning integration)
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/datasets.py
  py-deepbiop/deepbiop/targets.py
  py-deepbiop/tests/test_large_scale.py
  py-deepbiop/tests/test_lightning.py
Due: interrogate

feat: partial Phase 7 implementation - filters and test stubs
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/core.py
  py-deepbiop/deepbiop/dataset.py
  py-deepbiop/deepbiop/transforms.py
  py-deepbiop/tests/conftest.py
  py-deepbiop/tests/data/labeled_small.fastq
  py-deepbiop/tests/data/labels.csv
  py-deepbiop/tests/test_cache.py
  py-deepbiop/tests/test_features.py
  py-deepbiop/tests/test_reproducibility.py
  py-deepbiop/tests/test_transforms.py
Due: interrogate

feat(datasets): implement FASTA dataset support with comprehensive tests
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/datasets.py
  py-deepbiop/deepbiop/targets.py
  py-deepbiop/tests/data/test.fa
  py-deepbiop/tests/test_dataset.py
Due: interrogate

feat: implement BAM dataset support with multithreaded decompression (T074-T077)
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/datasets.py
  py-deepbiop/tests/data/test.bam
  py-deepbiop/tests/test_dataset.py
Due: interrogate
