Repository cauliyang/DeepBioP: changes, and which pre-commit hooks are due for each by the changed paths.
All: interrogate, clippy

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        stages: [commit]
        exclude: "mkdocs.yml"
      - id: check-json
        stages: [commit]
      - id: check-toml
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: check-case-conflict
        stages: [commit]
      - id: detect-private-key
        stages: [commit]
      - id: check-added-large-files
        args: ["--maxkb=150000"]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.3"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --unsafe-fixes]
      - id: ruff-format

    # python docstring coverage checking
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate
        entry: interrogate
        language: system
        types: ["python"]
        args:
          [
            --verbose,
            --fail-under=80,
            --ignore-init-module,
            --ignore-init-method,
            --ignore-module,
            --ignore-nested-functions,
            -vv,
          ]

  # shell scripts linter
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --bins --tests --examples --all -- -Dclippy::all
        pass_filenames: false

feat: Update dependencies versions and add new module
  Cargo.toml
  crates/deepbiop-fq/Cargo.toml
  crates/deepbiop-fq/src/predicts.rs
  crates/deepbiop-utils/src/lib.rs
Due: clippy

fix: Update noodles and candle-core versions
  Cargo.toml
  crates/deepbiop-utils/src/sv.rs
Due: clippy

fix: Update version of "lexical" to "7.0"
  Cargo.toml
Due: none

refactor: Update function import names in chimeric event.rs
  crates/deepbiop-bam/src/chimeric/event.rs
Due: clippy

fix: Update noodles version to 0.84.0
  Cargo.toml
Due: none

test: Add overlap tests for GenomicInterval
  crates/deepbiop-bam/src/chimeric/event.rs
  crates/deepbiop-utils/src/interval/genomics.rs
Due: clippy

refactor: Remove unnecessary import statements
  crates/deepbiop-bam/src/chimeric/event.rs
Due: clippy

refactor: Update parsing to use lexical crate for numeric values
  crates/deepbiop-bam/src/chimeric/event.rs
Due: clippy

fix: Update overlap conditions in genomic interval
  crates/deepbiop-utils/src/interval/genomics.rs
Due: clippy

test: Add unit test for create_chimeric_events_from_bam
  crates/deepbiop-bam/src/chimeric/event.rs
  crates/deepbiop-bam/test/data/test_chimric_reads.bam
Due: clippy

fix: Update versions in Cargo.toml
  Cargo.toml
Due: none

fix: Update candle-core version to 0.8.0
  Cargo.toml
Due: none

fix: Update Minimum Supported Rust Version to 1.82.0
  README.md
Due: none

fix: Update version of pyo3-stub-gen to 0.6.2
  Cargo.toml
  crates/deepbiop-cli/Cargo.toml
Due: none

style: Update file paths in test and Cargo.toml
  crates/deepbiop-bam/src/chimeric/event.rs
  crates/deepbiop-bam/tests/data/test_chimric_reads.bam
  crates/deepbiop-fa/Cargo.toml
  crates/deepbiop-fa/src/lib.rs
Due: clippy

feat: Add initial implementation of deepbiop-fa
  crates/deepbiop-fa/src/lib.rs
Due: clippy

docs: Update deepbiop-fa crate documentation
  Cargo.toml
  crates/deepbiop-fa/src/lib.rs
Due: clippy

fix: Update noodles to version 0.87.0
  Cargo.toml
Due: none

feat: Add support for parsing StructuralVariant from string
  crates/deepbiop-utils/src/interval/genomics.rs
  crates/deepbiop-utils/src/sv.rs
Due: clippy

style: Add PartialEq trait to StructuralVariantType enum
  crates/deepbiop-utils/src/sv.rs
Due: clippy

style: Add Eq trait to StructuralVariantType enum
  crates/deepbiop-utils/src/sv.rs
Due: clippy

feat: Add Display implementation for StructralVariantType and StructuralVariant
  crates/deepbiop-utils/src/sv.rs
Due: clippy

style: Update fmt usage in sv.rs
  crates/deepbiop-utils/src/sv.rs
Due: clippy

feat: Add new RNA sequences to test data
  crates/deepbiop-fa/src/encode.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fa/tests/data/test.fa
  crates/deepbiop-fa/tests/data/test.fa.gz
Due: clippy

feat: Add new modules for JSON and Parquet file I/O
  crates/deepbiop-fa/src/encode.rs
  crates/deepbiop-fa/src/encode/option.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fa/src/encode/record.rs
  crates/deepbiop-fa/src/encode/traits.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fa/src/lib.rs
  crates/deepbiop-fa/tests/data/test.fa
  crates/deepbiop-utils/Cargo.toml
  crates/deepbiop-utils/src/io.rs
  crates/deepbiop-utils/src/io/json.rs
  crates/deepbiop-utils/src/io/parquet.rs
  crates/deepbiop-utils/src/lib.rs
Due: clippy

refactor: Update function names and use in code
  crates/deepbiop-fa/src/encode.rs
  crates/deepbiop-fa/src/encode/traits.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fa/src/lib.rs
  crates/deepbiop-fa/src/python.rs
  py-deepbiop/pyproject.toml
Due: clippy

test: Remove unnecessary file cleanup in test case
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fa/tests/data/test.fa
Due: clippy

fix: Update versions of bstr and tempfile to 1.11.3 and 3.15
  Cargo.toml
Due: none

refactor: Update Python object extraction to remove unnecessary variable
  crates/deepbiop-fa/src/python.rs
Due: clippy

feat: Add support for parsing FASTA files and functions
  crates/deepbiop/src/lib.rs
  py-deepbiop/deepbiop/__init__.pyi
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: clippy

refactor: Update pre-commit hooks to use pre-commit stage
  .pre-commit-config.yaml
  Cargo.toml
  crates/deepbiop/Cargo.toml
Due: none

feat: Add support for FA file format in py-deepbiop
  py-deepbiop/Cargo.toml
  py-deepbiop/Makefile
  py-deepbiop/deepbiop/__init__.pyi
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
  py-deepbiop/pyproject.toml
  py-deepbiop/src/lib.rs
Due: clippy

feat: Update MSRV_VERSION to 1.82.0
  .github/workflows/test.yml
Due: none

build: Update MSRV_VERSION to 1.83.0
  .github/workflows/test.yml
  py-deepbiop/tests/test_add.py
Due: interrogate

fix: Update Minimum Supported Rust Version to 1.83.0
  README.md
Due: none

fix: Update macOS runner version to 13
  .github/workflows/release-python.yml
Due: none

feat: Add diagram image and SVG file
  README.md
  docs/imgs/diagram.png
  docs/imgs/diagram.svg
Due: none

docs: Add export settings to diagram.svg
  docs/imgs/diagram.svg
Due: none
