Repository cauliyang/DeepBioP: changes, and which pre-commit hooks are due for each by the changed paths.
All: interrogate, clippy

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        stages: [commit]
        exclude: "mkdocs.yml"
      - id: check-json
        stages: [commit]
      - id: check-toml
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: check-case-conflict
        stages: [commit]
      - id: detect-private-key
        stages: [commit]
      - id: check-added-large-files
        args: ["--maxkb=150000"]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.3"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --unsafe-fixes]
      - id: ruff-format

    # python docstring coverage checking
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate
        entry: interrogate
        language: system
        types: ["python"]
        args:
          [
            --verbose,
            --fail-under=80,
            --ignore-init-module,
            --ignore-init-method,
            --ignore-module,
            --ignore-nested-functions,
            -vv,
          ]

  # shell scripts linter
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --bins --tests --examples --all -- -Dclippy::all
        pass_filenames: false

refactor: Use plural form "batches" in function names
  crates/deepbiop-cli/src/cli/fx2parquet.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/encode/parquet.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-utils/src/io/parquet.rs
Due: clippy

docs: Add SequenceFileType enum for sequence file formats
  py-deepbiop/deepbiop/utils.pyi
Due: none

refactor: Rename fa_augment to fx_augment and update argument names
  crates/deepbiop-cli/src/cli.rs
  crates/deepbiop-cli/src/cli/fx_augment.rs
Due: clippy

refactor: Correct spelling of "batches" in function names and update related calls
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fa/src/encode/traits.rs
  crates/deepbiop-fa/tests/data/test.fa.parquet
  crates/deepbiop-fq/src/encode/parquet.rs
Due: clippy

fix: Update noodles version to 0.91.0
  Cargo.toml
Due: none

fix: Update versions in Cargo.toml
  Cargo.toml
Due: none

build(deps): update dependencies in Cargo.toml and add dataset.rs file
  Cargo.toml
  crates/deepbiop-cli/Cargo.toml
  crates/deepbiop-fq/src/dataset.rs
Due: clippy

chore: update Minimum Supported Rust Version (MSRV) to 1.85.1 in workflow and README
  .github/workflows/test.yml
  README.md
Due: none

fix: Update ruff-pre-commit to v0.11.0
  .pre-commit-config.yaml
Due: none

feat: add dataset module and integrate with Python bindings
  Cargo.toml
  crates/deepbiop-fq/src/dataset.rs
  crates/deepbiop-fq/src/lib.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-utils/src/strategy.rs
  py-deepbiop/tests/test_fq.py
Due: interrogate, clippy

build(deps): update pyo3-log, parquet, arrow, and candle-core dependencies
  Cargo.toml
Due: none

feat: Update noodles to version 0.95.0
  Cargo.toml
Due: none

fix: update dependencies for pyo3-log, noodles, bstr, flate2, and env_logger
  Cargo.toml
  crates/deepbiop-cli/Cargo.toml
Due: none

fix: update ruff-pre-commit to v0.11.4 and remove unnecessary blank line in Cargo.toml
  .pre-commit-config.yaml
  Cargo.toml
Due: none

upgrade candle
  Cargo.toml
Due: none

upgrade tikz
  .gitignore
  docs/imgs/diagram.pdf
  docs/imgs/diagram.tex
Due: none

update tikz figure
  docs/imgs/diagram.pdf
Due: none

fix(toml): format pyo3 features and update noodles, parquet, and arrow versions
  Cargo.toml
Due: none

build(deps): update candle-core version to 0.9.1
  Cargo.toml
Due: none

fix(deps): update noodles version to 0.97.0 with specified features
  Cargo.toml
Due: none

fix(deps): update dependencies and improve chimeric reads functionality
  Cargo.toml
  crates/deepbiop-bam/src/chimeric/count.rs
  crates/deepbiop-cli/Cargo.toml
  crates/deepbiop-cli/src/cli/chimeric_count.rs
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: clippy

fix(deps): update noodles version to 0.99.0 and format pyo3 features
  Cargo.toml
Due: none

fix: update reader references to use the new io module for fasta and fastq
  crates/deepbiop-bam/src/chimeric/count.rs
  crates/deepbiop-bam/src/chimeric/event.rs
  crates/deepbiop-bam/src/io.rs
  crates/deepbiop-bam/tests/data/test_chimric_reads.bam.chimeric_reads.txt
  crates/deepbiop-cli/src/cli/chimeric_count.rs
  crates/deepbiop-cli/src/cli/countfx.rs
  crates/deepbiop-fa/src/encode/traits.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fq/src/dataset.rs
  crates/deepbiop-fq/src/encode/traits.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-utils/src/io.rs
Due: clippy

fix: update fasta writer to use the new io module in fastq_to_fasta function
  crates/deepbiop-fq/src/python.rs
Due: clippy

fix: remove obsolete chimeric reads test data and enhance logging in chimeric_count
  crates/deepbiop-bam/tests/data/test_chimric_reads.bam.chimeric_reads.txt
  crates/deepbiop-cli/src/cli/chimeric_count.rs
Due: clippy

Feat (#68)
  .gitignore
  .pre-commit-config.yaml
  Cargo.toml
  crates/deepbiop-bam/src/chimeric/count.rs
  crates/deepbiop-bam/src/chimeric/event.rs
  crates/deepbiop-bam/src/io.rs
  crates/deepbiop-cli/Cargo.toml
  crates/deepbiop-cli/src/cli/chimeric_count.rs
  crates/deepbiop-cli/src/cli/countfx.rs
  crates/deepbiop-fa/src/encode/traits.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fq/src/dataset.rs
  crates/deepbiop-fq/src/encode/traits.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-utils/src/io.rs
  docs/imgs/diagram.png
  docs/imgs/diagram.svg
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: clippy

chore: upgrade dependencies
  Cargo.toml
Due: none

chore: make pre-commit happy
  .pre-commit-config.yaml
  Cargo.toml
  docs/imgs/diagram.tex
  py-deepbiop/deepbiop/__init__.pyi
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: none

chore: update arrow and parquet dependencies to versions 56.1 and 56.1 respectively in Cargo.toml
  Cargo.toml
Due: none

build(deps): update dependencies in Cargo.toml and deepbiop-cli
  Cargo.toml
  crates/deepbiop-cli/Cargo.toml
Due: none

feat(cli): add query length option and percentile calculations to CountFx
  crates/deepbiop-cli/src/cli/countfx.rs
  crates/deepbiop-utils/src/strategy.rs
Due: clippy

build(deps): update pre-commit hooks and Cargo.toml settings
  .pre-commit-config.yaml
  Cargo.toml
  crates/deepbiop-cli/src/cli/countfx.rs
Due: clippy

chore: update MSRV to 1.90.0 and add bon dependency
  README.md
  crates/deepbiop-cli/Cargo.toml
  crates/deepbiop-cli/src/cli/countfx.rs
Due: clippy

chore: remove x86 target from Windows runner in release workflow
  .github/workflows/release-python.yml
Due: none

⚡️ perf(cli): implement streaming for fxs2one to reduce memory footprint
  crates/deepbiop-cli/src/cli/fxs2one.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fq/src/io.rs
Due: clippy

🎨 style(cli): reformat println statements in countfx statistics
  crates/deepbiop-cli/src/cli/countfx.rs
Due: clippy

⬆️ chore(deps): bump arrow and parquet from 56.1 to 56.2
  Cargo.toml
Due: none

🙈 chore: add CLAUDE.md to .gitignore
  .gitignore
Due: none
