Repository cauliyang/DeepBioP: changes, and which pre-commit hooks are due for each by the changed paths.
All: interrogate, clippy

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        stages: [pre-commit]
        exclude: "mkdocs.yml"
      - id: check-json
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: check-case-conflict
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: check-added-large-files
        args: ["--maxkb=150000"]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.11.0"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --unsafe-fixes]
      - id: ruff-format

    # python docstring coverage checking
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate
        entry: interrogate
        language: system
        types: ["python"]
        args:
          [
            --verbose,
            --fail-under=80,
            --ignore-init-module,
            --ignore-init-method,
            --ignore-module,
            --ignore-nested-functions,
            -vv,
          ]

  # shell scripts linter
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.1.0
    hooks:
      - id: cargo-sort

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --bins --tests --examples --all -- -Dclippy::all
        pass_filenames: false

🔧 fix(deps): downgrade PyO3 stack to fix PyEncodingWarning compilation error
  Cargo.toml
Due: none

⬆️ chore(deps): upgrade PyO3 to 0.27.1 and fix compatibility issues
  .pre-commit-config.yaml
  Cargo.toml
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/dataset.rs
  crates/deepbiop-fq/src/encode/traits.rs
  crates/deepbiop-fq/src/predicts.rs
  crates/deepbiop-fq/src/python.rs
  py-deepbiop/pyproject.toml
Due: clippy

✨ feat(cli): add short flag -o for output in fxs2one command
  crates/deepbiop-cli/src/cli/fxs2one.rs
Due: clippy

🔧 chore(workflow): add Python setup step and update MSRV in GitHub Actions
  .github/workflows/test.yml
Due: none

🔧 fix(workflow): update Python version format in GitHub Actions
  .github/workflows/test.yml
Due: none

🔧 refactor: update type hints and improve Makefile commands
  py-deepbiop/Makefile
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
  py-deepbiop/pyproject.toml
  py-deepbiop/src/lib.rs
Due: clippy

🧹 chore: update .gitignore to include new configuration files
  .gitignore
Due: none

✨ feat(cli): add human-readable base formatting for total bases in statistics
  crates/deepbiop-cli/src/cli/countfx.rs
Due: clippy

🧪 test(docs): fix all doctest examples and remove dead code
  crates/deepbiop-core/src/kmer/encode.rs
  crates/deepbiop-fa/src/augment/mutator.rs
  crates/deepbiop-fa/src/augment/reverse_complement.rs
  crates/deepbiop-fq/src/augment/mod.rs
  crates/deepbiop-fq/src/augment/reverse_complement.rs
  crates/deepbiop-fq/src/encode/integer.rs
  crates/deepbiop-gtf/src/reader/mod.rs
Due: clippy

📚 docs: add comprehensive CONTRIBUTING.md and fix rustdoc warnings
  CONTRIBUTING.md
  crates/deepbiop-fq/src/encode/onehot.rs
Due: clippy

⚡️ perf(python): release GIL for parallel batch operations
  crates/deepbiop-core/src/kmer/encode.rs
  crates/deepbiop-fq/src/augment/python.rs
  crates/deepbiop-fq/src/encode/integer.rs
  crates/deepbiop-fq/src/encode/onehot.rs
Due: clippy

🔇 chore: suppress false-positive PyO3 deprecation warnings
  crates/deepbiop-core/src/kmer/encode.rs
  crates/deepbiop-fq/src/augment/python.rs
  crates/deepbiop-fq/src/encode/integer.rs
  crates/deepbiop-fq/src/encode/onehot.rs
Due: clippy

Revert "🔇 chore: suppress false-positive PyO3 deprecation warnings"
  crates/deepbiop-core/src/kmer/encode.rs
  crates/deepbiop-fq/src/augment/python.rs
  crates/deepbiop-fq/src/encode/integer.rs
  crates/deepbiop-fq/src/encode/onehot.rs
Due: clippy

✨ refactor(python): migrate from allow_threads to detach API
  crates/deepbiop-core/src/kmer/encode.rs
  crates/deepbiop-fq/src/augment/python.rs
  crates/deepbiop-fq/src/encode/integer.rs
  crates/deepbiop-fq/src/encode/onehot.rs
Due: clippy

📝 spec: PyTorch-Style Python API for Deep Learning
  specs/002-pytorch-api/checklists/requirements.md
  specs/002-pytorch-api/spec.md
Due: none

📝 docs(spec): complete clarification phase with 5 anti-duplication decisions
  specs/002-pytorch-api/spec.md
Due: none

📋 docs(plan): complete implementation planning for PyTorch-style Python API
  specs/002-pytorch-api/contracts/api-contracts.md
  specs/002-pytorch-api/data-model.md
  specs/002-pytorch-api/plan.md
  specs/002-pytorch-api/quickstart.md
  specs/002-pytorch-api/research.md
Due: none

📋 docs(tasks): generate implementation tasks for PyTorch-style Python API
  specs/002-pytorch-api/tasks.md
Due: none

✨ feat: add PyTorch-style Python API for deep learning workflows
  .pre-commit-config.yaml
  README.md
  crates/deepbiop-fq/src/dataset.rs
  examples/transformers_integration.py
  py-deepbiop/CHANGELOG.md
  py-deepbiop/Cargo.toml
  py-deepbiop/examples/pytorch_quickstart.py
  py-deepbiop/src/lib.rs
  py-deepbiop/src/pytorch/cache.rs
  py-deepbiop/src/pytorch/collate.rs
  py-deepbiop/src/pytorch/dataloader.rs
  py-deepbiop/src/pytorch/dataset.rs
  py-deepbiop/src/pytorch/errors.rs
  py-deepbiop/src/pytorch/mod.rs
  py-deepbiop/src/pytorch/transforms.rs
  py-deepbiop/src/pytorch/types.rs
  py-deepbiop/tests/test_pytorch_api.py
  py-deepbiop/tests/test_pytorch_performance.py
  specs/002-pytorch-api/plan.md
  specs/002-pytorch-api/tasks.md
Due: interrogate, clippy

🐛 fix: remove armv7 builds to resolve CI cross-compilation error
  .github/workflows/release-python.yml
Due: none

🐛 fix: disable musllinux builds to resolve cargo metadata error
  .github/workflows/release-python.yml
Due: none

🐛 fix: update macOS CI runner from macos-13 to macos-14
  .github/workflows/release-python.yml
Due: none

🐛 fix: skip GTF tests on Windows due to illegal instruction error
  py-deepbiop/tests/test_gtf.py
Due: interrogate

🧹 refactor: fix Rust warnings in PyTorch API implementation
  py-deepbiop/src/pytorch/cache.rs
  py-deepbiop/src/pytorch/collate.rs
  py-deepbiop/src/pytorch/dataset.rs
  py-deepbiop/src/pytorch/errors.rs
  py-deepbiop/src/pytorch/types.rs
Due: clippy

🔧 feat: migrate CI to use uv for Python package management
  .github/workflows/release-python.yml
Due: none

🐛 fix: ensure all dependencies are installed in CI before pytest
  .github/workflows/release-python.yml
Due: none

dev: add uv.lock
  .gitignore
  py-deepbiop/uv.lock
Due: none

dev: make pre-commit happy
  py-deepbiop/tests/test_gtf.py
Due: interrogate

🐛 fix: install pre-built wheel instead of rebuilding from source in CI
  .github/workflows/release-python.yml
Due: none

🐛 fix: avoid uv run triggering package rebuild in CI tests
  .github/workflows/release-python.yml
Due: none

🐛 fix: revert to pip and skip VCF tests on Windows
  .github/workflows/release-python.yml
  py-deepbiop/tests/test_vcf.py
Due: interrogate

🐛 fix: upgrade pip and disable cache for wheel installation
  .github/workflows/release-python.yml
Due: none

🐛 fix: install numpy separately and use --no-deps for wheel
  .github/workflows/release-python.yml
Due: none

🐛 fix: remove --no-deps flag to allow proper wheel installation
  .github/workflows/release-python.yml
Due: none

🐛 fix: restore --no-deps and remove --no-index for wheel installation
  .github/workflows/release-python.yml
Due: none

🔧 refactor(cli): improve logging level handling in main function
  crates/deepbiop-cli/src/main.rs
Due: clippy
