Repository cauliyang/DeepBioP: changes, and which pre-commit hooks are due for each by the changed paths.
All: interrogate, clippy

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        stages: [pre-commit]
        exclude: "mkdocs.yml"
      - id: check-json
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: check-case-conflict
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: check-added-large-files
        args: ["--maxkb=150000"]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

    # python docstring coverage checking
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate
        entry: interrogate
        language: system
        types: ["python"]
        args:
          [
            --verbose,
            --fail-under=70,
            --ignore-init-module,
            --ignore-init-method,
            --ignore-module,
            --ignore-nested-functions,
            --ignore-regex=examples/.*,
            -vv,
          ]

  # shell scripts linter
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/DevinR528/cargo-sort
    rev: v2.0.2
    hooks:
      - id: cargo-sort

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --bins --tests --examples --all -- -Dclippy::all
        pass_filenames: false

fix: resolve Python bindings compilation issues for streaming dataset
  crates/deepbiop-fq/src/streaming.rs
Due: clippy

feat(modern): add modern Python API with shape-safe encoders
  py-deepbiop/deepbiop/modern/__init__.py
  py-deepbiop/deepbiop/modern/encoders.py
  py-deepbiop/deepbiop/modern/transforms.py
  py-deepbiop/deepbiop/modern/types.py
  py-deepbiop/pyproject.toml
  py-deepbiop/tests/test_modern.py
  py-deepbiop/uv.lock
Due: interrogate

feat: add multi-label learning and streaming dataset support
  crates/deepbiop-fq/src/lib.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-fq/src/streaming.rs
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/collate.py
  py-deepbiop/deepbiop/targets.py
Due: interrogate, clippy

test: fix parameter name in multilabel streaming tests
  py-deepbiop/deepbiop/collate.py
  py-deepbiop/deepbiop/gtf.pyi
  py-deepbiop/deepbiop/targets.py
  py-deepbiop/deepbiop/vcf.pyi
  py-deepbiop/tests/test_multilabel_streaming.py
Due: interrogate

feat: expose VCF and GTF modules to Python API and fix targets syntax
  crates/deepbiop-gtf/src/python.rs
  crates/deepbiop-vcf/src/python.rs
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/gtf.pyi
  py-deepbiop/deepbiop/targets.py
  py-deepbiop/deepbiop/vcf.pyi
Due: interrogate, clippy

review: revised the changes
  Cargo.toml
  crates/deepbiop-core/src/encoder.rs
  crates/deepbiop-core/src/types/encoding.rs
  crates/deepbiop-fa/src/dataset.rs
  crates/deepbiop-fa/src/encode/onehot.rs
  docs/FEATURE_COMPLETENESS_ANALYSIS.md
  py-deepbiop/STUB_GENERATION.md
  py-deepbiop/pyproject.toml
  py-deepbiop/requirements-dev.lock
  py-deepbiop/requirements.lock
  py-deepbiop/src/bin/stub_gen.rs.disabled
  py-deepbiop/uv.lock
  specs/002-pytorch-api/checklists/requirements.md
  specs/002-pytorch-api/contracts/api-contracts.md
  specs/002-pytorch-api/data-model.md
  specs/002-pytorch-api/plan.md
  specs/002-pytorch-api/quickstart.md
  specs/002-pytorch-api/research.md
  specs/002-pytorch-api/spec.md
  specs/002-pytorch-api/tasks.md
Due: clippy

dev: fix and update pre-commit
  .pre-commit-config.yaml
  py-deepbiop/pyproject.toml
  py-deepbiop/uv.lock
Due: none

⬆️ build(deps): upgrade arrow/parquet 60, pyo3 0.29, bio 4 and regenerate stubs
  .pre-commit-config.yaml
  Cargo.toml
  crates/deepbiop-cli/Cargo.toml
  crates/deepbiop-cli/src/cli/countfx.rs
  crates/deepbiop-cli/src/cli/extractfx.rs
  crates/deepbiop-cli/src/main.rs
  crates/deepbiop-fa/src/augment.rs
  crates/deepbiop-fa/src/encode/option.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fq/src/dataset.rs
  crates/deepbiop-fq/src/encode/option.rs
  crates/deepbiop-fq/src/encode/parquet.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-utils/src/blat.rs
  crates/deepbiop-utils/src/interval/genomics.rs
  crates/deepbiop-utils/src/io.rs
  crates/deepbiop-utils/src/io/parquet.rs
  py-deepbiop/Cargo.toml
  py-deepbiop/deepbiop/__init__.pyi
  py-deepbiop/deepbiop/bam/__init__.pyi
  py-deepbiop/deepbiop/core/__init__.pyi
  py-deepbiop/deepbiop/fa/__init__.pyi
  py-deepbiop/deepbiop/fq/__init__.pyi
  py-deepbiop/deepbiop/utils/__init__.pyi
  py-deepbiop/pyproject.toml
  py-deepbiop/src/lib.rs
Due: clippy

Regenerate Rust stubs per module; guard torch tests; update pinned tests
  crates/deepbiop-bam/src/chimeric/event.rs
  crates/deepbiop-bam/src/python.rs
  crates/deepbiop-core/src/python/dataset.rs
  crates/deepbiop-core/src/python/mod.rs
  crates/deepbiop-core/src/seq.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/augment/python.rs
  crates/deepbiop-fq/src/dataset.rs
  crates/deepbiop-fq/src/filter/python.rs
  crates/deepbiop-fq/src/predicts.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-fq/src/streaming.rs
  crates/deepbiop-utils/src/lib.rs
  py-deepbiop/Makefile
  py-deepbiop/deepbiop/__init__.pyi
  py-deepbiop/deepbiop/bam/__init__.pyi
  py-deepbiop/deepbiop/core/__init__.pyi
  py-deepbiop/deepbiop/fa/__init__.pyi
  py-deepbiop/deepbiop/fq/__init__.pyi
  py-deepbiop/deepbiop/gtf.pyi
  py-deepbiop/deepbiop/gtf/__init__.pyi
  py-deepbiop/deepbiop/pytorch.pyi
  py-deepbiop/deepbiop/pytorch/__init__.pyi
  py-deepbiop/deepbiop/utils/__init__.pyi
  py-deepbiop/deepbiop/vcf.pyi
  py-deepbiop/deepbiop/vcf/__init__.pyi
  py-deepbiop/src/pytorch/cache.rs
  py-deepbiop/src/pytorch/collate.rs
  py-deepbiop/src/pytorch/dataloader.rs
  py-deepbiop/src/pytorch/dataset.rs
  py-deepbiop/src/pytorch/transforms.rs
  py-deepbiop/tests/test_fq_encoding.py
  py-deepbiop/tests/test_lightning.py
  py-deepbiop/tests/test_pytorch.py
  py-deepbiop/tests/test_pytorch_performance.py
  py-deepbiop/uv.lock
Due: interrogate, clippy

Fix examples, docs and remaining review findings
  .github/workflows/test-python.yml
  CHANGELOG.md
  crates/deepbiop-core/src/seq.rs
  crates/deepbiop-fq/src/augment/python.rs
  crates/deepbiop-fq/src/dataset.rs
  crates/deepbiop-fq/src/filter/python.rs
  crates/deepbiop-fq/src/streaming.rs
  crates/deepbiop-vcf/src/python.rs
  docs/FEATURE_COMPLETENESS_ANALYSIS.md
  docs/ml-framework-compatibility-summary.md
  docs/user-guide/python-api.md
  examples/pytorch_integration.py
  examples/transformers_integration.py
  py-deepbiop/CHANGELOG.md
  py-deepbiop/deepbiop/vcf/__init__.pyi
  py-deepbiop/docs/performance.md
  py-deepbiop/examples/augmentation_example.py
  py-deepbiop/examples/export_example.py
  py-deepbiop/pyproject.toml
  py-deepbiop/src/pytorch/cache.rs
  py-deepbiop/src/pytorch/collate.rs
  py-deepbiop/src/pytorch/dataloader.rs
  py-deepbiop/src/pytorch/dataset.rs
  py-deepbiop/src/pytorch/transforms.rs
  py-deepbiop/tests/test_gtf.py
  py-deepbiop/tests/test_vcf.py
Due: interrogate, clippy

ci: fix Python lint job and Windows wheel/dep failures
  README.md
  py-deepbiop/docs/api-reference.md
  py-deepbiop/docs/performance.md
  py-deepbiop/docs/quickstart.md
  py-deepbiop/docs/troubleshooting.md
  py-deepbiop/examples/SUPERVISED_LEARNING.md
  py-deepbiop/examples/export_example.py
  py-deepbiop/pyproject.toml
  py-deepbiop/uv.lock
Due: interrogate

ci: declare the benchmark marker so wheel smoke tests collect
  Cargo.toml
  py-deepbiop/pyproject.toml
Due: none

ci: fix the musllinux wheel smoke test
  .github/workflows/release-python.yml
Due: none

fix: drop target-cpu=native from the committed cargo config
  .cargo/config.toml
  CHANGELOG.md
Due: none

fix: keep BAM/FASTA record order when reads are parallelised
  crates/deepbiop-bam/src/chimeric/count.rs
  crates/deepbiop-bam/src/chimeric/event.rs
  crates/deepbiop-bam/src/io.rs
  crates/deepbiop-bam/src/reader/mod.rs
  crates/deepbiop-bam/tests/read_order.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-fq/src/predicts.rs
Due: clippy

build: use candle-core 0.11.0 from crates.io
  Cargo.toml
Due: none
