Repository cauliyang/DeepBioP: changes, and which pre-commit hooks are due for each by the changed paths.
All: interrogate, clippy

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        stages: [commit]
        exclude: "mkdocs.yml"
      - id: check-json
        stages: [commit]
      - id: check-toml
        stages: [commit]
      - id: check-merge-conflict
        stages: [commit]
      - id: check-case-conflict
        stages: [commit]
      - id: detect-private-key
        stages: [commit]
      - id: check-added-large-files
        args: ["--maxkb=150000"]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.6.3"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --unsafe-fixes]
      - id: ruff-format

    # python docstring coverage checking
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate
        entry: interrogate
        language: system
        types: ["python"]
        args:
          [
            --verbose,
            --fail-under=80,
            --ignore-init-module,
            --ignore-init-method,
            --ignore-module,
            --ignore-nested-functions,
            -vv,
          ]

  # shell scripts linter
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --bins --tests --examples --all -- -Dclippy::all
        pass_filenames: false

fix: Update version to 0.1.12
  py-deepbiop/pyproject.toml
Due: none

feat: Add FaToParquet struct for converting fa to parquet
  crates/deepbiop-cli/src/cli/fa2parquet.rs
  crates/deepbiop-fa/src/encode/option.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fa/src/python.rs
Due: clippy

refactor: Update PyO3 version to 0.23.3
  Cargo.toml
  crates/deepbiop-bam/src/python.rs
  crates/deepbiop-fa/src/encode/option.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/encode/option.rs
  crates/deepbiop-fq/src/predicts.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-utils/src/lib.rs
  crates/deepbiop-utils/src/python.rs
  py-deepbiop/src/python_module.rs
Due: clippy

fix: Update versions of itertools, parquet, arrow and clap-verbosity-flag
  Cargo.toml
  crates/deepbiop-cli/Cargo.toml
Due: none

feat: Add fa2parquet conversion functionality
  crates/deepbiop-cli/Cargo.toml
  crates/deepbiop-cli/src/cli.rs
  crates/deepbiop-cli/src/cli/fa2parquet.rs
  crates/deepbiop-cli/src/main.rs
  crates/deepbiop-fa/src/encode/option.rs
  crates/deepbiop-fa/tests/data/test.parquet
  py-deepbiop/deepbiop/__init__.pyi
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: clippy

refactor: Update function signatures and docstrings
  py-deepbiop/Makefile
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: none

docs: Update changelog for version 0.1.13
  crates/deepbiop-cli/CHANGELOG.md
  crates/deepbiop-fa/CHANGELOG.md
Due: none

style: Update command descriptions for fasta conversion
  crates/deepbiop-cli/src/main.rs
Due: clippy

style: Fix indentation in Cargo.toml dependencies
  Cargo.toml
Due: none

feat: Add function py_select_record_from_fq
  crates/deepbiop-fq/src/python.rs
Due: clippy

fix: Update colored dependency to version 3.0
  Cargo.toml
Due: none

feat: Add function to select a record from FASTQ file
  py-deepbiop/deepbiop/fq.pyi
Due: none

fix: Update pyo3-build-config version to "0.23"
  Cargo.toml
  py-deepbiop/Cargo.toml
  py-deepbiop/pyproject.toml
Due: none

feat: Add extractfq and extractfa commands, and related functionality
  crates/deepbiop-cli/Cargo.toml
  crates/deepbiop-cli/src/cli.rs
  crates/deepbiop-cli/src/cli/bam2fq.rs
  crates/deepbiop-cli/src/cli/extractfa.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
  crates/deepbiop-cli/src/main.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/io/fq.rs
  crates/deepbiop-fq/src/python.rs
Due: clippy

refactor: Update function parameters and types
  .pre-commit-config.yaml
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: none

feat: Add logging information for selected reads and records
  crates/deepbiop-cli/src/cli/extractfa.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
Due: clippy

refactor: Update file extensions and logging messages
  crates/deepbiop-cli/src/cli/extractfa.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fq/src/io/fq.rs
Due: clippy

add testing data
  crates/deepbiop-cli/tests/data/test.fastq
  crates/deepbiop-cli/tests/data/test_extract.txt
Due: none

feat: Add stream-based record selection for FASTA and FASTQ
  crates/deepbiop-cli/src/cli/extractfa.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fq/src/io/fq.rs
Due: clippy

refactor: Update function calls for selecting records by stream
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/predicts.rs
  crates/deepbiop-fq/src/python.rs
Due: clippy

feat: Add Fastq to Parquet conversion functionality
  crates/deepbiop-cli/src/cli.rs
  crates/deepbiop-cli/src/cli/fq2parquet.rs
  crates/deepbiop-cli/src/main.rs
  crates/deepbiop-fq/src/encode.rs
  crates/deepbiop-fq/src/encode/json.rs
  crates/deepbiop-fq/src/encode/option.rs
  crates/deepbiop-fq/src/encode/parquet.rs
  crates/deepbiop-fq/src/encode/tensor.rs
  crates/deepbiop-fq/src/encode/triat.rs
  crates/deepbiop-fq/src/python.rs
Due: clippy

refactor: Improve formatting and spacing in type hinting across multiple files
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: none

fix: Correct documentation for FqToParquet struct argument names
  crates/deepbiop-cli/src/cli/fq2parquet.rs
Due: clippy

feat: Introduce deepbiop-core library and refactor encoder options across modules
  Cargo.toml
  crates/deepbiop-cli/src/cli/fa2parquet.rs
  crates/deepbiop-cli/src/cli/fq2parquet.rs
  crates/deepbiop-core/Cargo.toml
  crates/deepbiop-core/src/lib.rs
  crates/deepbiop-fa/src/encode/option.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fa/src/encode/traits.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/encode/option.rs
  crates/deepbiop-fq/src/encode/parquet.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-fq/src/io/json.rs
  crates/deepbiop-fq/src/io/parquet.rs
  crates/deepbiop-fq/src/python.rs
Due: clippy

refactor: Rename FaEncoderOption to EncoderOption
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
Due: none

feat: Integrate deepbiop-core library and refactor module imports across crates
  crates/deepbiop-cli/Cargo.toml
  crates/deepbiop-cli/src/cli/fq2parquet.rs
  crates/deepbiop-core/src/default.rs
  crates/deepbiop-core/src/error.rs
  crates/deepbiop-core/src/kmer.rs
  crates/deepbiop-core/src/lib.rs
  crates/deepbiop-core/src/python.rs
  crates/deepbiop-core/src/seq.rs
  crates/deepbiop-core/src/types.rs
  crates/deepbiop-fq/Cargo.toml
  crates/deepbiop-fq/src/encode/option.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-fq/src/io/fq.rs
  crates/deepbiop-fq/src/lib.rs
  crates/deepbiop-fq/src/predicts.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-fq/src/utils.rs
  py-deepbiop/Cargo.toml
  py-deepbiop/src/lib.rs
  py-deepbiop/src/python_module.rs
Due: clippy

feat: Add core functions for k-mer generation and sequence normalization
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fq.pyi
Due: none

docs: Add documentation for default values
  crates/deepbiop-core/src/default.rs
Due: clippy

refactor: Update comment to reflect correct sub-module registration in Python integration
  crates/deepbiop-core/src/python.rs
Due: clippy

feat: Add k-mer generation functions and related utilities with comprehensive documentation
  crates/deepbiop-core/src/default.rs
  crates/deepbiop-core/src/kmer.rs
  crates/deepbiop-core/src/python.rs
Due: clippy

add docs
  crates/deepbiop-core/src/kmer.rs
  crates/deepbiop-core/src/python.rs
  crates/deepbiop-core/src/seq.rs
  crates/deepbiop-fa/src/encode.rs
  crates/deepbiop-fa/src/encode/option.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-utils/src/io.rs
  crates/deepbiop-utils/src/python.rs
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: clippy

refactor: Update function names and improve compression handling in BAM to FASTQ conversion
  crates/deepbiop-cli/src/cli/bam2fq.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
  crates/deepbiop-core/src/default.rs
  crates/deepbiop-fa/src/encode/traits.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fq/src/encode/triat.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-fq/tests/data/one_record.fq.gz
  crates/deepbiop-fq/tests/data/one_recordbgz.fq.gz
  crates/deepbiop-utils/Cargo.toml
  crates/deepbiop-utils/src/io.rs
  crates/deepbiop-utils/src/python.rs
  crates/deepbiop-utils/tests/data/test.fastq
  crates/deepbiop-utils/tests/data/test.fastq.gz
  crates/deepbiop-utils/tests/data/test.fastqbgz.gz
Due: clippy

feat: Add tests for k-mer generation and compression detection; update BAM to FASTQ file extension handling
  crates/deepbiop-cli/src/cli/bam2fq.rs
  crates/deepbiop-cli/src/cli/extractfa.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
  py-deepbiop/deepbiop/utils.pyi
  py-deepbiop/tests/data/test.fastq
  py-deepbiop/tests/data/test.fastq.gz
  py-deepbiop/tests/data/test.fastqbgz.gz
  py-deepbiop/tests/test_core.py
  py-deepbiop/tests/test_fq.py
  py-deepbiop/tests/test_utils.py
Due: interrogate, clippy

feat: Enhance compression handling with new functions and improved documentation for file type detection
  crates/deepbiop-utils/src/io.rs
  crates/deepbiop-utils/src/python.rs
  py-deepbiop/Makefile
  py-deepbiop/tests/test_utils.py
Due: interrogate, clippy

refactor: Clean up code formatting and improve function signatures for consistency
  py-deepbiop/Makefile
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
  py-deepbiop/tests/test_fq.py
Due: interrogate
