Repository cauliyang/DeepBioP: changes, and which pre-commit hooks are due for each by the changed paths.
All: interrogate, clippy

interrogate:
  name: interrogate
  entry: interrogate
  language: system
  args:
  - --verbose
  - --fail-under=80
  - --ignore-init-module
  - --ignore-init-method
  - --ignore-module
  - --ignore-nested-functions
  - -vv

clippy:
  name: clippy
  language: system
  entry: cargo clippy --bins --tests --examples --all -- -Dclippy::all
  pass_filenames: false

feat: Add core functions for k-mer generation and sequence normalization
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fq.pyi
Due: none

add docs
  crates/deepbiop-core/src/kmer.rs
  crates/deepbiop-core/src/python.rs
  crates/deepbiop-core/src/seq.rs
  crates/deepbiop-fa/src/encode.rs
  crates/deepbiop-fa/src/encode/option.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-utils/src/io.rs
  crates/deepbiop-utils/src/python.rs
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: clippy

feat: Introduce deepbiop-core library and refactor encoder options across modules
  Cargo.toml
  crates/deepbiop-cli/src/cli/fa2parquet.rs
  crates/deepbiop-cli/src/cli/fq2parquet.rs
  crates/deepbiop-core/Cargo.toml
  crates/deepbiop-core/src/lib.rs
  crates/deepbiop-fa/src/encode/option.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fa/src/encode/traits.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/encode/option.rs
  crates/deepbiop-fq/src/encode/parquet.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-fq/src/io/json.rs
  crates/deepbiop-fq/src/io/parquet.rs
  crates/deepbiop-fq/src/python.rs
Due: clippy

refactor: Clean up code formatting and improve function signatures for consistency
  py-deepbiop/Makefile
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
  py-deepbiop/tests/test_fq.py
Due: interrogate

refactor: Update function parameters and types
  .pre-commit-config.yaml
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: none

feat: Add Fastq to Parquet conversion functionality
  crates/deepbiop-cli/src/cli.rs
  crates/deepbiop-cli/src/cli/fq2parquet.rs
  crates/deepbiop-cli/src/main.rs
  crates/deepbiop-fq/src/encode.rs
  crates/deepbiop-fq/src/encode/json.rs
  crates/deepbiop-fq/src/encode/option.rs
  crates/deepbiop-fq/src/encode/parquet.rs
  crates/deepbiop-fq/src/encode/tensor.rs
  crates/deepbiop-fq/src/encode/triat.rs
  crates/deepbiop-fq/src/python.rs
Due: clippy

refactor: Update file extensions and logging messages
  crates/deepbiop-cli/src/cli/extractfa.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fq/src/io/fq.rs
Due: clippy

feat: Integrate deepbiop-core library and refactor module imports across crates
  crates/deepbiop-cli/Cargo.toml
  crates/deepbiop-cli/src/cli/fq2parquet.rs
  crates/deepbiop-core/src/default.rs
  crates/deepbiop-core/src/error.rs
  crates/deepbiop-core/src/kmer.rs
  crates/deepbiop-core/src/lib.rs
  crates/deepbiop-core/src/python.rs
  crates/deepbiop-core/src/seq.rs
  crates/deepbiop-core/src/types.rs
  crates/deepbiop-fq/Cargo.toml
  crates/deepbiop-fq/src/encode/option.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-fq/src/io/fq.rs
  crates/deepbiop-fq/src/lib.rs
  crates/deepbiop-fq/src/predicts.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-fq/src/utils.rs
  py-deepbiop/Cargo.toml
  py-deepbiop/src/lib.rs
  py-deepbiop/src/python_module.rs
Due: clippy

fix: Correct documentation for FqToParquet struct argument names
  crates/deepbiop-cli/src/cli/fq2parquet.rs
Due: clippy

feat: Add stream-based record selection for FASTA and FASTQ
  crates/deepbiop-cli/src/cli/extractfa.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fq/src/io/fq.rs
Due: clippy

refactor: Improve formatting and spacing in type hinting across multiple files
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: none

feat: Enhance compression handling with new functions and improved documentation for file type detection
  crates/deepbiop-utils/src/io.rs
  crates/deepbiop-utils/src/python.rs
  py-deepbiop/Makefile
  py-deepbiop/tests/test_utils.py
Due: interrogate, clippy

feat: Add logging information for selected reads and records
  crates/deepbiop-cli/src/cli/extractfa.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
Due: clippy

docs: Add documentation for default values
  crates/deepbiop-core/src/default.rs
Due: clippy

refactor: Update function calls for selecting records by stream
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/predicts.rs
  crates/deepbiop-fq/src/python.rs
Due: clippy

add testing data
  crates/deepbiop-cli/tests/data/test.fastq
  crates/deepbiop-cli/tests/data/test_extract.txt
Due: none

refactor: Rename FaEncoderOption to EncoderOption
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
Due: none

feat: Add k-mer generation functions and related utilities with comprehensive documentation
  crates/deepbiop-core/src/default.rs
  crates/deepbiop-core/src/kmer.rs
  crates/deepbiop-core/src/python.rs
Due: clippy

feat: Add tests for k-mer generation and compression detection; update BAM to FASTQ file extension handling
  crates/deepbiop-cli/src/cli/bam2fq.rs
  crates/deepbiop-cli/src/cli/extractfa.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
  py-deepbiop/deepbiop/utils.pyi
  py-deepbiop/tests/data/test.fastq
  py-deepbiop/tests/data/test.fastq.gz
  py-deepbiop/tests/data/test.fastqbgz.gz
  py-deepbiop/tests/test_core.py
  py-deepbiop/tests/test_fq.py
  py-deepbiop/tests/test_utils.py
Due: interrogate, clippy

refactor: Update comment to reflect correct sub-module registration in Python integration
  crates/deepbiop-core/src/python.rs
Due: clippy

feat: Add extractfq and extractfa commands, and related functionality
  crates/deepbiop-cli/Cargo.toml
  crates/deepbiop-cli/src/cli.rs
  crates/deepbiop-cli/src/cli/bam2fq.rs
  crates/deepbiop-cli/src/cli/extractfa.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
  crates/deepbiop-cli/src/main.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/io/fq.rs
  crates/deepbiop-fq/src/python.rs
Due: clippy

style: Remove redundant keyword from Cargo.toml
  crates/deepbiop-core/Cargo.toml
Due: none

feat: Update package version to 0.1.14
  py-deepbiop/pyproject.toml
Due: none

style: Add missing space in Cargo.toml dependencies
  crates/deepbiop-core/src/lib.rs
  crates/deepbiop/Cargo.toml
  crates/deepbiop/src/lib.rs
Due: clippy

refactor: Update fetch_records method to use fastq reader and improve record handling
  crates/deepbiop-fa/src/encode/traits.rs
  crates/deepbiop-fq/src/encode/triat.rs
Due: clippy

style: Update pyo3 version and format dependencies in Cargo.toml
  Cargo.toml
Due: none

feat: Add fas2one and fqs2one commands for batch file conversion
  crates/deepbiop-cli/src/cli.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
  crates/deepbiop-cli/src/cli/fas2one.rs
  crates/deepbiop-cli/src/cli/fq2parquet.rs
  crates/deepbiop-cli/src/cli/fqs2one.rs
  crates/deepbiop-cli/src/main.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-fq/src/python.rs
Due: clippy

feat: Add functions to combine multiple FASTA and FASTQ files into bgzip-compressed formats
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-fq/src/python.rs
Due: clippy

style: Format function signatures for consistency in type annotations
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: none

style: Update type annotations for consistency across multiple files
  .pre-commit-config.yaml
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: none

feat: Enhance ExtractFq command to support random selection of reads and update Cargo.toml dependencies
  crates/deepbiop-cli/src/cli/extractfq.rs
  crates/deepbiop-fq/Cargo.toml
  crates/deepbiop-fq/src/io.rs
Due: clippy

feat: Add random selection functionality for FASTQ records and expose it to Python
  crates/deepbiop-fa/Cargo.toml
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/python.rs
Due: clippy

style: Update type annotations for consistency across bam.pyi, core.pyi, utils.pyi, and fa.pyi
  py-deepbiop/deepbiop/bam.pyi
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/fq.pyi
  py-deepbiop/deepbiop/utils.pyi
Due: none

feat: Update ExtractFa to support optional read selection by path or random count
  crates/deepbiop-cli/src/cli/extractfa.rs
Due: clippy

feat: Add output option for specifying file paths in ExtractFa and ExtractFq commands
  crates/deepbiop-cli/src/cli/extractfa.rs
  crates/deepbiop-cli/src/cli/extractfq.rs
Due: clippy

♻️ Optimize record selection in select_record_from_fq_by_random function using for loop
  crates/deepbiop-fa/src/io.rs
Due: clippy

♻️ Optimize record selection in select_record_from_fq_by_random function using for loop
  crates/deepbiop-fq/src/io.rs
Due: clippy

feat: Update output file extensions for FasToOne and FqsToOne commands to .fa.gz and .fq.gz respectively
  crates/deepbiop-cli/src/cli/fas2one.rs
  crates/deepbiop-cli/src/cli/fqs2one.rs
Due: clippy

feat: Add markdown help option and documentation for deepbiop-cli
  crates/deepbiop-cli/Cargo.toml
  crates/deepbiop-cli/src/main.rs
  docs/cli/index.md
  mkdocs.yml
Due: clippy

Path conditions:
  interrogate: any of: \.py$
  clippy: any of: \.rs$
