Repository cauliyang/DeepBioP: changes, and which pre-commit hooks are due for each by the changed paths.
All: interrogate, clippy

.pre-commit-config.yaml:

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        stages: [pre-commit]
        exclude: "mkdocs.yml"
      - id: check-json
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: check-case-conflict
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: check-added-large-files
        args: ["--maxkb=150000"]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

    # python docstring coverage checking
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate
        entry: interrogate
        language: system
        types: ["python"]
        args:
          [
            --verbose,
            --fail-under=70,
            --ignore-init-module,
            --ignore-init-method,
            --ignore-module,
            --ignore-nested-functions,
            --ignore-regex=examples/.*,
            -vv,
          ]

  # shell scripts linter
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/DevinR528/cargo-sort
    rev: v2.0.2
    hooks:
      - id: cargo-sort

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --bins --tests --examples --all -- -Dclippy::all
        pass_filenames: false

fix: use raw string for targets.py module docstring
  py-deepbiop/deepbiop/targets.py
Due: interrogate

feat: add performance benchmark tests for FASTA and BAM datasets (T078)
  py-deepbiop/tests/test_dataset.py
Due: interrogate

docs: add FastaDataset and BamDataset documentation (T079-T080)
  py-deepbiop/docs/api-reference.md
  py-deepbiop/docs/quickstart.md
Due: none

fix(bam): implement proper record counting for PyTorch DataLoader compatibility
  crates/deepbiop-bam/src/dataset.rs
  crates/deepbiop-bam/src/python.rs
  py-deepbiop/tests/test_lightning.py
Due: interrogate, clippy

test: update transform tests to use callable interface
  py-deepbiop/tests/test_augment.py
  py-deepbiop/tests/test_core.py
  py-deepbiop/tests/test_fq_encoding.py
Due: interrogate

docs: address PR #90 review comments with comprehensive improvements
  .gitignore
  crates/deepbiop-bam/src/dataset.rs
  crates/deepbiop-bam/src/python.rs
  crates/deepbiop-core/src/encoder.rs
  py-deepbiop/tests/data/test_chimric_reads.bam
Due: clippy

fix: resolve all cargo clippy warnings
  crates/deepbiop-core/src/batch.rs
  crates/deepbiop-utils/src/sampling.rs
Due: clippy

📝 docs: convert all docstrings from Numpy to Google style
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/__init__.pyi
  py-deepbiop/deepbiop/collate.py
  py-deepbiop/deepbiop/core.py
  py-deepbiop/deepbiop/core.pyi
  py-deepbiop/deepbiop/dataset.py
  py-deepbiop/deepbiop/datasets.py
  py-deepbiop/deepbiop/fa.pyi
  py-deepbiop/deepbiop/lightning.py
  py-deepbiop/deepbiop/lightning.pyi
  py-deepbiop/deepbiop/pytorch.pyi
  py-deepbiop/deepbiop/targets.py
  py-deepbiop/deepbiop/transforms.py
  py-deepbiop/deepbiop/transforms.pyi
  py-deepbiop/deepbiop/utils.pyi
  py-deepbiop/examples/02_augmentation.ipynb
  py-deepbiop/examples/augmentation_example.py
  py-deepbiop/examples/conversion_example.py
  py-deepbiop/examples/export_example.py
  py-deepbiop/examples/pytorch_quickstart.py
  py-deepbiop/examples/pytorch_training.ipynb
  py-deepbiop/examples/supervised_learning.py
  py-deepbiop/pyproject.toml
  py-deepbiop/tests/conftest.py
  py-deepbiop/tests/test_augment.py
  py-deepbiop/tests/test_cache.py
  py-deepbiop/tests/test_core.py
  py-deepbiop/tests/test_dataset.py
  py-deepbiop/tests/test_features.py
  py-deepbiop/tests/test_large_scale.py
  py-deepbiop/tests/test_lightning.py
  py-deepbiop/tests/test_ml_framework_compat.py
  py-deepbiop/tests/test_performance.py
  py-deepbiop/tests/test_pytorch.py
  py-deepbiop/tests/test_pytorch_api.py
  py-deepbiop/tests/test_pytorch_performance.py
  py-deepbiop/tests/test_reproducibility.py
  py-deepbiop/tests/test_supervised_learning.py
  py-deepbiop/tests/test_transformers.py
  py-deepbiop/tests/test_transforms.py
Due: interrogate

🔧 chore(deps): migrate to PyO3 0.27 and numpy 0.27 with pickling fixes
  Cargo.toml
  crates/deepbiop-bam/src/python.rs
  crates/deepbiop-core/src/kmer/encode.rs
  crates/deepbiop-core/src/python/dataset.rs
  crates/deepbiop-core/src/python/mod.rs
  crates/deepbiop-core/src/seq.rs
  crates/deepbiop-fa/src/encode/option.rs
  crates/deepbiop-fa/src/encode/parquet.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/dataset.rs
  crates/deepbiop-fq/src/encode/integer.rs
  crates/deepbiop-fq/src/encode/onehot.rs
  crates/deepbiop-fq/src/encode/option.rs
  crates/deepbiop-fq/src/encode/parquet.rs
  crates/deepbiop-fq/src/filter/python.rs
  crates/deepbiop-fq/src/predicts.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-utils/src/blat.rs
  crates/deepbiop-utils/src/interval/genomics.rs
  crates/deepbiop-utils/src/io.rs
  crates/deepbiop-utils/src/lib.rs
  py-deepbiop/uv.lock
Due: clippy

🎨 style: improve code formatting for multi-line attributes
  crates/deepbiop-core/src/encoder.rs
  crates/deepbiop-fq/src/dataset.rs
  crates/deepbiop-utils/src/blat.rs
Due: clippy

fix: resolve PR #90 review comments
  Cargo.toml
  crates/deepbiop-bam/src/dataset.rs
  crates/deepbiop-bam/src/python.rs
  crates/deepbiop-core/src/kmer/encode.rs
  crates/deepbiop-core/src/python/dataset.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/encode/integer.rs
  crates/deepbiop-fq/src/encode/onehot.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-gtf/src/python.rs
  crates/deepbiop-vcf/src/python.rs
Due: clippy

dev: do not install lib
  .github/workflows/test-python.yml
Due: none

feat: implement BAM dataset support with multithreaded decompression (T074-T077)
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/datasets.py
  py-deepbiop/tests/data/test.bam
  py-deepbiop/tests/test_dataset.py
Due: interrogate

feat(datasets): implement FASTA dataset support with comprehensive tests
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/datasets.py
  py-deepbiop/deepbiop/targets.py
  py-deepbiop/tests/data/test.fa
  py-deepbiop/tests/test_dataset.py
Due: interrogate

dev: remove dup code
  crates/deepbiop-bam/src/chimeric/count.rs
  crates/deepbiop-bam/src/chimeric/event.rs
  crates/deepbiop-bam/src/dataset.rs
  crates/deepbiop-bam/src/io.rs
  crates/deepbiop-bam/src/reader/mod.rs
  crates/deepbiop-cli/src/cli/extractfx.rs
  crates/deepbiop-core/src/encoder.rs
  crates/deepbiop-core/src/kmer/encode.rs
  crates/deepbiop-core/src/lib.rs
  crates/deepbiop-fa/src/encode/onehot.rs
  crates/deepbiop-fa/src/io.rs
  crates/deepbiop-fa/src/python.rs
  crates/deepbiop-fq/src/encode/integer.rs
  crates/deepbiop-fq/src/encode/onehot.rs
  crates/deepbiop-fq/src/io.rs
  crates/deepbiop-utils/Cargo.toml
  crates/deepbiop-utils/src/io.rs
  crates/deepbiop-utils/src/lib.rs
  crates/deepbiop-utils/src/parallel.rs
  crates/deepbiop-utils/src/sampling.rs
Due: clippy

dev: add ignores
  .gitignore
Due: none

✨ feat(python): add supervised learning API with target extraction
  .gitignore
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/collate.py
  py-deepbiop/deepbiop/lightning.py
  py-deepbiop/deepbiop/targets.py
  py-deepbiop/deepbiop/transforms.py
  py-deepbiop/examples/SUPERVISED_LEARNING.md
  py-deepbiop/examples/supervised_learning.py
  py-deepbiop/tests/test_supervised_learning.py
Due: interrogate

feat: complete Phase 5 (large-scale batch processing) and Phase 6 (Lightning integration)
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/datasets.py
  py-deepbiop/deepbiop/targets.py
  py-deepbiop/tests/test_large_scale.py
  py-deepbiop/tests/test_lightning.py
Due: interrogate

feat: partial Phase 7 implementation - filters and test stubs
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/core.py
  py-deepbiop/deepbiop/dataset.py
  py-deepbiop/deepbiop/transforms.py
  py-deepbiop/tests/conftest.py
  py-deepbiop/tests/data/labeled_small.fastq
  py-deepbiop/tests/data/labels.csv
  py-deepbiop/tests/test_cache.py
  py-deepbiop/tests/test_features.py
  py-deepbiop/tests/test_reproducibility.py
  py-deepbiop/tests/test_transforms.py
Due: interrogate

dev: add ignores
  .github/workflows/test-python.yml
  .gitignore
Due: none

feat(modern): add modern Python API with shape-safe encoders
  py-deepbiop/deepbiop/modern/__init__.py
  py-deepbiop/deepbiop/modern/encoders.py
  py-deepbiop/deepbiop/modern/transforms.py
  py-deepbiop/deepbiop/modern/types.py
  py-deepbiop/pyproject.toml
  py-deepbiop/tests/test_modern.py
  py-deepbiop/uv.lock
Due: interrogate

feat: expose VCF and GTF modules to Python API and fix targets syntax
  crates/deepbiop-gtf/src/python.rs
  crates/deepbiop-vcf/src/python.rs
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/gtf.pyi
  py-deepbiop/deepbiop/targets.py
  py-deepbiop/deepbiop/vcf.pyi
Due: interrogate, clippy

feat: add multi-label learning and streaming dataset support
  crates/deepbiop-fq/src/lib.rs
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-fq/src/streaming.rs
  py-deepbiop/deepbiop/__init__.py
  py-deepbiop/deepbiop/collate.py
  py-deepbiop/deepbiop/targets.py
Due: interrogate, clippy

fix: resolve Python bindings compilation issues for streaming dataset
  crates/deepbiop-fq/src/streaming.rs
Due: clippy

test: fix parameter name in multilabel streaming tests
  py-deepbiop/deepbiop/collate.py
  py-deepbiop/deepbiop/gtf.pyi
  py-deepbiop/deepbiop/targets.py
  py-deepbiop/deepbiop/vcf.pyi
  py-deepbiop/tests/test_multilabel_streaming.py
Due: interrogate

dev: cargo format
  crates/deepbiop-fq/src/python.rs
  crates/deepbiop-fq/src/streaming.rs
Due: clippy
